autopep8==1.5.7
certifi==2021.10.8
charset-normalizer==2.0.7
docutils==0.17.1
idna==3.3
Pillow==8.4.0
pycodestyle==2.8.0
pyglet==1.5.21
Pygments==2.10.0
pyperclip==1.8.2
pypiwin32==223
pywin32==302
requests==2.26.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.7
youtube-dl==2021.6.6
